name: Run MongoDB Migrations (Dev POC)

on:
  workflow_dispatch:

jobs:
  migrate-dev:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Run custom migration runner (Dev)
        run: node src/run-migrations.js
